
<div id="app">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a routerLink="/members" class="nav-link">Members</a>
        </li>
        </ul>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="wrapper">
	<div class="box header">
			<app-header></app-header>
	</div>

	<div class="box navbar">
			<app-navbar></app-navbar>
	</div>
	
	<div class="box sidebar">
		Sidebar #1
		<app-sidebar></app-sidebar>
		[News + Updates]
	</div>

	<div class="box sidebar2">
		Sidebar #2
		<app-sidebar2></app-sidebar2>
		[Login Box]
	</div>

	<div class="box content">
		<!-- <h2>UserComp</h2> -->
		<app-user></app-user>
		
		<!-- <h2>Directory</h2>		
		<app-directory></app-directory>
		<app-users></app-users> -->

		<!-- <UsersComponent></UsersComponent> -->
	</div>

	<!-- 
		<div class="box content">
			<h2>Directory</h2>
			<app-directory></app-directory>
		</div>
	-->

	<ul *ngFor="let item of items | async">
		<li> {{item.name}}</li>
	</ul>
	
	<div class="box footer">
		<app-footer></app-footer>
	</div>
</div>