<!-- <router-outlet></router-outlet> -->

<div class="wrapper">
	<div class="box header">
			<app-header></app-header>
	</div>

	<div class="box navbar">
			<app-navbar></app-navbar>
	</div>
	
	<div class="box sidebar">
		Sidebar
		<app-sidebar></app-sidebar>
	</div>

	<div class="box sidebar2">
		Sidebar 2
		<app-sidebar2></app-sidebar2>
	</div>

	<div class="box content">
		<h2>UserComp</h2>
		<app-user></app-user>
		
		<h2>Directory</h2>		
		<app-directory></app-directory>
	</div>

	<!-- 
		<div class="box content">
			<h2>Directory</h2>
			<app-directory></app-directory>
		</div>
	-->
	
	<div class="box footer">
		<app-footer></app-footer>
	</div>
</div>
