<div class="wrapper">

	<app-navbar></app-navbar>
	
	<!-- <div class="box navbar">
			
	</div> -->
		
	<!-- <div class="box header">
		<app-header></app-header>
	</div>  -->
	
	<h1>Welcome to the Markham Hill Portal</h1>
	<!-- <router-outlet>Router Works</router-outlet> -->

	<!-- <app-login></app-login> -->
		
	
	<div class="box sidebar">
		News
		<app-sidebar></app-sidebar>
	</div>

	<div class="box sidebar2">
		Login
		<app-sidebar2></app-sidebar2>
	</div>

	<div class="box content">
		<!-- <h2>UserComp</h2> -->
		
		<app-member></app-member>
		<!-- 		
			<h2>Directory</h2>		
			<app-directory></app-directory> 
		-->
		
		<hr />

		<app-user></app-user>

	</div>

	<!-- 
		<div class="box content">
			<h2>Directory</h2>
			<app-directory></app-directory>
		</div>
	-->
	
	<div class="box footer">
		<app-footer></app-footer>
	</div>
</div>
